html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px;
}

body > footer {
    position: absolute;
    bottom: 0;
}

@media (min-width:48em) {
    .md-static { position: static }
}

code {
    padding: 4px;
}
