html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px auto;
    padding-top: 40px;
    margin-bottom: 50px;
    font-size: 13pt;
    line-height: 20pt;
}

footer#page {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 8pt;
    padding: 12px 0px;
    margin-top: 20px;
}

.main-content {
    max-width: 780px;
    margin: 0px auto;
}
