---
layout: default
title: Homepage
---
<header>
  <h1>Blog Posts</h1>
</header>

<section>
  <ul class="list-reset">
    {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}" class="h2">{{ post.title }}</a> <small><span class="label label-default">({{ post.date | date_to_long_string }})</span></small>
      {% if post.content contains site.excerpt_separator %}
      <p>{{ post.excerpt }}</p>
      {% else %}
      {{ post.content }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>

{% if paginator.total_pages > 1 %}
<section class="center mt3">
  {% if paginator.previous_page %}
  <a class="button-gray p1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  {% endif %}
  {% if paginator.next_page %}
  <a class="button-gray p1" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  {% endif %}
</section>
{% endif %}
