{% set blog = get_section(path="posts/_index.md") %}

{% if section.content or blog.pages %}
  <h1>{{ section.title }}</h1>

  {% if section.content %}
    <div {% if blog.pages %}class="space" {% endif %}>{{ section.content | safe }}</div>
  {% endif %}

  {% if blog.pages %}
    <h2>Recent Posts</h2>

    <ol>
      {% for post in blog.pages | sort(attribute="date") | reverse | slice(end=5) %}
        <li>
          <p class="text-lg">
            <a href="{{ post.path }}">{{ post.title }}</a>
            <span class="text-xs italic">({{ post.date | date(format="%-d %B %Y") }})</span>
          </p>

          {% if post.summary %}
            <div class="pl-4 border-l-4 border-gray-200 dark:border-gray-600 text-sm">
              {{ post.summary | safe }}

              <a href="{{ post.path }}" class="text-xs text-gray-400 dark:text-gray-300">
                Read more &raquo;
              </a>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ol>

    <div class="mt-4">
      <a href="{{ blog.path }}">See all posts &raquo;</a>
    </div>
  {% endif %}
{% endif %}
