<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="robots" content="index, follow" />
<link rel="icon" href="/favicon.ico" />
<link rel="manifest" href="/site.webmanifest" />
<!-- Our Custom CSS -->
{{- with (templates.Defer (dict "key" "global")) -}}
  {{- partialCached "head/css.html" . -}}
{{- end -}}
<!-- Our Custom JS -->
{{- partialCached "head/js.html" . -}}
<!-- Alpine Plugins -->
<script
  defer
  src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
<!-- Alpine Core -->
<script
  defer
  src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<!-- Feeds -->
{{- with .OutputFormats.Get "rss" -}}
  {{- printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML -}}
{{- end -}}
<!-- Analytics -->
<script
  defer
  src="/vendor/p/js/script.js"
  data-api="/vendor/p/api/event"
  data-domain="thenegation.com"></script>
<!-- SEO Tags -->
{{- partial "head/seo.html" . -}}
<!-- ICONS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
<!-- PAGEFIND -->
<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js"></script>
