{{- $page := .page -}}
{{- $menuID := .menuID -}}

{{- with index site.Menus $menuID -}}
  <nav>
    <ul id="primary-navigation">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) -}}
    </ul>

    <div class="tn-nav-controls">
      <div>
        <button
          data-search-trigger
          type="button"
          title="Search"
          class="cursor-pointer">
          <span class="sr-only">Search</span>
          <i class="bi bi-search contrast-25"></i>
        </button>
        <pagefind-modal id="search-modal"></pagefind-modal>
      </div>

      {{- with site.Home.OutputFormats.Get "rss" -}}
        <a
          href="{{ .RelPermalink }}"
          target="_blank"
          rel="noopener noreferrer"
          title="{{ site.Title | markdownify }}">
          <i class="bi bi-rss-fill contrast-25"></i>
        </a>
      {{- end -}}


      <button
        data-theme-toggle
        type="button"
        class="tn-theme-switch"
        role="switch"
        aria-checked="false">
        <span class="sr-only">Dark mode</span>
        <span class="tn-theme-switch-thumb">
          <span
            class="tn-theme-switch-icon tn-theme-switch-icon-light"
            aria-hidden="true">
            <i class="bi bi-sun contrast-25"></i>
          </span>
          <span
            class="tn-theme-switch-icon tn-theme-switch-icon-dark"
            aria-hidden="true">
            <i class="bi bi-moon contrast-25"></i>
          </span>
        </span>
      </button>

      <button
        data-nav-toggle
        type="button"
        class="tn-nav-toggle"
        aria-expanded="false"
        aria-controls="primary-navigation">
        <span class="sr-only">Menu</span>
        <i data-nav-toggle-icon class="bi bi-list text-xl contrast-25"></i>
      </button>
    </div>
  </nav>
{{- end -}}

{{- define "_partials/inline/menu/walk.html" -}}
  {{- $page := .page -}}
  {{- range .menuEntries -}}
    {{- $attrs := dict "href" .URL -}}
    {{- if $page.IsMenuCurrent .Menu . -}}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") -}}
    {{- else if $page.HasMenuCurrent .Menu . -}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") -}}
    {{- end -}}
    {{- $name := .Name -}}
    {{- with .Identifier -}}
      {{- with T . -}}
        {{- $name = . -}}
      {{- end -}}
    {{- end -}}
    <li>
      <a
        {{- range $k, $v := $attrs -}}
          {{- with $v -}}
            {{ printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end -}}
        {{- end -}}>
        {{ $name }}
      </a>
      {{- with .Children -}}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) -}}
        </ul>
      {{- end -}}
    </li>
  {{- end -}}
{{- end -}}
