<button
  @click="darkMode=!darkMode"
  type="button"
  class="relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-zinc-200 transition-colors duration-200 ease-in-out focus:ring-2 focus:ring-neutral-700 focus:ring-offset-2 focus:outline-none dark:bg-zinc-700"
  role="switch"
  aria-checked="false">
  <span class="sr-only">Use setting</span>
  <span
    class="pointer-events-none relative inline-block h-5 w-5 translate-x-0 transform rounded-full bg-white shadow ring-0 transition duration-500 ease-in-out dark:translate-x-5">
    <span
      class="absolute inset-0 flex h-full w-full items-center justify-center opacity-100 transition-opacity duration-500 ease-in dark:opacity-0 dark:duration-100 dark:ease-out"
      aria-hidden="true">
      <i class="bi bi-sun contrast-25"></i>
    </span>
    <span
      class="absolute inset-0 flex h-full w-full items-center justify-center opacity-0 transition-opacity duration-100 ease-out dark:opacity-100 dark:duration-200 dark:ease-in"
      aria-hidden="true">
      <i class="bi bi-moon contrast-25"></i>
    </span>
  </span>
</button>
