<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
  </head>

  <body class="og-body">
    <div class="og-canvas">
      <div class="og-canvas-main">
        <img src="{{ avatar }}" class="og-avatar size-40" />
        <div class="text-8xl font-sans font-bold">{{ title }}</div>
        <div class="text-gray-800 text-5xl font-mono tracking-tight">
          {{ subtitle }}
        </div>
      </div>

      <div class="og-canvas-foot">
        <div class="font-mono tracking-tight">{{ url }}</div>
        <div class="font-mono tracking-tighter">by {{ author }}</div>
      </div>
    </div>
  </body>
</html>
