{{ define "main" }}
  {{ $page := . }}
  <article class="prose dark:prose-invert max-w-none">
    <h1>
      <a href="/tags" class="font-bold">Tags</a> &raquo;
      {{ .Title | markdownify }}
      {{ with .OutputFormats.Get "rss" }}
        <a
          href="{{ .RelPermalink }}"
          class="not-prose"
          target="_blank"
          rel="noopener noreferrer"
          title="RSS Feed for {{ page.Title | markdownify }}">
          <img
            src="https://media.thenegation.com/icons/rss.svg"
            class="inline contrast-25 dark:invert" />
        </a>
      {{ end }}
    </h1>

    {{ .Content }}

    {{ range (.Pages.GroupByDate "2006") }}
      <h2>{{ .Key | markdownify }}</h2>

      <ul>
        {{ range .Pages.ByDate.Reverse }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a>
            <span class="text-xs italic">
              ({{ .Date.Format "2 Jan 2006" }})
            </span>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </article>
{{ end }}
