{{- .Page.Store.Set "capability.leaflet" true -}}
<div
  class="leaflet"
  id="{{ .Get "id" }}"
  style="height: {{ .Get "height" }}px;">
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
      const map = L.map('{{ .Get "id" }}', {});

      const cartodbAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>';

      const positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: cartodbAttribution
      }).addTo(map);

      L.control.scale().addTo(map);
      map.setZoom(1);
      map.setView([10, 0]);

      fetch('{{ .Get "geojson" }}').then((res) => res.json()).then((data) => L.geoJSON(data).addTo(map));
    });
  </script>
</div>
