{{- $langCodeRaw := replace (default "en-US" site.Language.Locale) "_" "-" -}}
{{- $langParts := split $langCodeRaw "-" -}}
{{- $htmlLang := "en-US" -}}
{{- if gt (len $langParts) 1 -}}
  {{- $htmlLang = printf "%s-%s" (lower (index $langParts 0)) (upper (index $langParts 1)) -}}
{{- else if eq (len $langParts) 1 -}}
  {{- $htmlLang = lower (index $langParts 0) -}}
{{- end -}}
{{- $htmlLangDir := site.Language.Direction | default "ltr" -}}
{{- /*
  Force content, and therefore any shortcodes within it.

  This is necessary because we want shortcodes to perform their side-effects
  such as registering capabilities (via .Store).

  An example is the leaflet_world shortcode, which registers a capability
  flag for including vendor assets in head.html.

  Also note that the .Content variable is memoized, so we can safely render
  it here and then reuse later.
  */
-}}
{{- $__forceContentRender := .Content -}}
<!doctype html>
<html lang="{{ $htmlLang }}" dir="{{ $htmlLangDir }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body class="antialiased">
    <header>{{- partial "header.html" . -}}</header>
    <main>{{- block "main" . }}{{ end -}}</main>
    <footer>{{- partial "footer.html" . -}}</footer>
  </body>
</html>
