{{- define "main" -}}
  <article class="tn-prose">
    <h1>{{ .Title | markdownify }}</h1>

    {{ .Content }}


    <h2>Recent Posts</h2>

    {{- $recentPosts := first 5 (where .Site.RegularPages.ByDate.Reverse "Section" "posts" ) -}}
    <ol>
      {{- range $recentPosts -}}
        <li>
          <p class="text-lg">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a>
            <span class="text-xs italic">
              ({{ .Date | time.Format "2 Jan 2006" }})
            </span>
          </p>

          {{- if .Summary -}}
            <div class="border-ctp-surface0 border-l-4 pl-4 text-sm">
              {{ .Summary }}
            </div>

            <a href="{{ .RelPermalink }}" class="text-sm">
              Read more &raquo;
            </a>
          {{- end -}}
        </li>
      {{- end -}}
    </ol>

    <div class="mt-4">
      {{- with site.GetPage "section" "posts" -}}
        <a href="{{ .RelPermalink }}">See all posts &raquo;</a>
      {{- end -}}
    </div>
  </article>
{{- end -}}
