{{- define "main" -}}
  <article class="tn-prose">
    <h1>{{ .Title | markdownify }}</h1>

    {{ .Content }}


    <h2>Recent Posts</h2>

    {{- $recentPosts := first 5 (where .Site.RegularPages.ByDate.Reverse "Section" "posts" ) -}}
    <ol>
      {{- range $recentPosts -}}
        <li>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a>

          {{- if .Summary -}}
            <div
              class="border-ctp-overlay0 border-l-4 pl-4 text-base md:text-lg">
              {{ .Summary }}
            </div>

            <div class="flex items-center gap-6 font-mono text-sm">
              <span class="text-ctp-subtext1"
                >{{ .Date | time.Format "2 Jan 2006" }}</span
              >
              <a href="{{ .RelPermalink }}">Read more &raquo;</a>
            </div>
          {{- end -}}
        </li>
      {{- end -}}
    </ol>

    <div class="mt-4">
      {{- with site.GetPage "section" "posts" -}}
        <a href="{{ .RelPermalink }}">See all posts &raquo;</a>
      {{- end -}}
    </div>
  </article>
{{- end -}}
