{{- define "main" -}}
  <article class="prose dark:prose-invert max-w-none">
    <h1>{{- .Title | markdownify -}}</h1>

    {{- .Content -}}


    <h2>Recent Posts</h2>

    {{- $recentPosts := first 5 (where .Site.RegularPages.ByDate.Reverse "Section" "posts" ) -}}
    <ol>
      {{- range $recentPosts -}}
        <li>
          <p class="text-lg">
            <a href="{{- .RelPermalink -}}">{{- .LinkTitle | markdownify -}}</a>
            <span class="text-xs italic">
              ({{- .Date | time.Format "2 Jan 2006" -}})
            </span>
          </p>

          {{- if .Summary -}}
            <div
              class="border-l-4 border-gray-200 pl-4 text-sm dark:border-gray-600">
              {{- .Summary -}}


              <a
                href="{{- .RelPermalink -}}"
                class="text-xs text-gray-400 dark:text-gray-300">
                Read more &raquo;
              </a>
            </div>
          {{- end -}}
        </li>
      {{- end -}}
    </ol>

    <div class="mt-4">
      {{- with site.GetPage "section" "posts" -}}
        <a href="{{- .RelPermalink -}}">See all posts &raquo;</a>
      {{- end -}}
    </div>
  </article>
{{- end -}}
