{{- define "main" -}}
  <article class="prose dark:prose-invert max-w-none">
    <h1>{{- .Title | markdownify -}}</h1>

    {{- .Content -}}

    {{- if .Date -}}
      {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
      {{- $dateHuman := .Date | time.Format ":date_long" -}}


      <div class="my-12 flex flex-col items-start justify-between space-y-2">
        <span class="text-sm italic">
          Published on
          <time datetime="{{- $dateMachine -}}">{{- $dateHuman -}}</time>
        </span>

        <span
          class="flex flex-col items-start space-y-1 md:flex-row md:space-y-0 md:space-x-1">
          {{- range .Params.tags -}}
            <a
              href="/tags/{{- . | urlize -}}/"
              class="label no-underline hover:underline">
              {{- . -}}
            </a>
          {{- end -}}
        </span>
      </div>
    {{- end -}}
  </article>

  {{- if (or .PrevInSection .NextInSection) -}}
    <nav class="section-prev-next">
      {{- with .PrevInSection -}}
        <a
          class="text-gray-600 hover:text-black dark:text-gray-400 dark:hover:text-white"
          href="{{- .RelPermalink -}}"
          >← {{ .Title | markdownify }}</a
        >
      {{- else -}}
        <span></span>
      {{- end -}}

      {{- with .NextInSection -}}
        <a
          class="text-right text-gray-600 hover:text-black dark:text-gray-400 dark:hover:text-white"
          href="{{- .RelPermalink -}}"
          >{{ .Title | markdownify }} →</a
        >
      {{- else -}}
        <span></span>
      {{- end -}}
    </nav>
  {{- end -}}
{{- end -}}
