{{- define "main" -}}
  <article data-pagefind-body class="prose prose-catppuccin max-w-none">
    <h1>{{ .Title | markdownify }}</h1>

    {{ .Content }}

    {{- range (.Pages.GroupByDate "2006") -}}
      <h2>{{ .Key }}</h2>

      <ul>
        {{- range .Pages.ByDate.Reverse -}}
          <li>
            <a href="{{ .RelPermalink }}">{{ .LinkTitle | markdownify }}</a>
            <span class="font-mono text-xs">
              [{{ .Date.Format "2 Jan 2006" }}]
            </span>
          </li>
        {{- end -}}
      </ul>
    {{- end -}}
  </article>
{{- end -}}
