<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}" />

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ get_url(path='styles/main.css', cachebust=true) }}" />

    <script src="{{ get_url(path='scripts/main.js', cachebust=true) }}"></script>

    {% if config.generate_feed %}
      <link rel="alternate" type="application/atom+xml" title="Feed" href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}" />
    {% endif %}

    {% block extra_head %}{% endblock extra_head %}
  </head>

  <body class="bg-gray-50 dark:bg-gray-950 dark:text-gray-300 mx-2 lg:mx-0">
    <header class="mx-auto max-w-2xl mt-4 mb-8">
      <nav class="flex justify-between items-center">
        <div class="flex lg:flex-1">
          <a href="/" class="flex items-center space-x-4 no-underline">
            <span class="text-lg font-semibold uppercase tracking-tight">@vst</span>
          </a>
        </div>

        <div class="flex space-x-3 items-center text-sm">
          <a href="/">Home</a>
          <a href="/posts">Blog</a>
          <a href="/about">About</a>
          {% include "partials/theme-switcher.html" %}
          {% if config.generate_feed %}
            <a href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24.332 24.332" class="w-4 h-4 fill-gray-950 dark:fill-gray-50">
                <path d="M3.607 17.11A3.61 3.61 0 0 0 0 20.717c0 1.984 1.618 3.604 3.607 3.604s3.607-1.619 3.607-3.604a3.61 3.61 0 0 0-3.607-3.607z"/><path d="M.375 7.951A.377.377 0 0 0 0 8.328v4.578c0 .206.169.374.375.374 5.879 0 10.665 4.784 10.665 10.665 0 .205.166.375.375.375h4.597c.209 0 .377-.17.377-.375l-.018-.117C16.305 15.064 9.152 7.951.375 7.951z"/><path d="M24.311 23.828C24.246 10.681 13.531.01.375.01A.377.377 0 0 0 0 .387v4.711c0 .207.169.375.375.375 10.186 0 18.472 8.287 18.472 18.473 0 .205.168.375.373.375h4.733c.205 0 .379-.17.379-.375l-.021-.118z"/>
              </svg>
            </a>
          {% endif %}
        </div>
      </nav>
    </header>

    <main class="mx-auto max-w-2xl mb-8 prose dark:prose-invert">
      {% block content %}
        {% include "partials/homepage.html" %}
      {% endblock content %}
    </main>

    <footer class="mx-auto max-w-2xl">
      <p
        class="py-4 border-t border-gray-100 dark:border-gray-500 text-xs"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:dct="http://purl.org/dc/terms/"
      >
        <a
          href="https://www.thenegation.com"
          rel="cc:attributionURL"
          property="dct:title"
        >
          This Website
        </a>
        and its content by
        <a
          href="https://github.com/vst"
          rel="cc:attributionURL dct:creator"
          property="cc:attributionName"
        >
          Vehbi Sinan Tunalioglu
        </a>
        are licensed under
        <a
          href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
          target="_blank"
          rel="license noopener noreferrer"
        >
          CC BY-SA 4.0
        </a>
        unless otherwise noted.
      </p>
    </footer>

    {# <pre class="mx-auto max-w-2xl">{{ __tera_context }}</pre> #}
  </body>
</html>
