{% macro toc(toc) %}
{% if toc %}
<div class="p-4 lg:p-6 border border-gray-200 dark:border-gray-700 bg-gray-100 dark:bg-gray-900">
  <div class="font-bold text-lg">Contents</div>
  <ul>
    {% for h1 in toc %}
    <li>
      <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
      {% if h1.children %}
      <ul>
        {% for h2 in h1.children %}
        <li>
          <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endmacro toc %}
