{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ config.title }} | {{ page.title }}{% endblock title %}

{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block content %}
  <h1>{{ page.title }}</h1>

  {{ page.content | replace(from="<!-- toc -->", to=macros::toc(toc=page.toc)) | safe}}

  {% if page.date %}
    <div class="flex flex-col justify-between items-start my-12 space-y-2">
      <span class="text-sm italic">
        Published on {{ page.date | date(format="%-d %B %Y") }}
      </span>

      {% if page.taxonomies.tags %}
        <span class="flex flex-col items-start space-y-1 md:flex-row md:space-x-1 md:space-y-0">
          {% for tag in page.taxonomies.tags %}
            {% set term = get_taxonomy_term(kind="tags", term=tag) %}
            <a href="{{ term.path }}" class="label no-underline hover:underline">{{ tag }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </div>
  {% endif %}
{% endblock content %}
