{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block pagetitle %}{{ section.title }}{% endblock pagetitle %}

{% block content %}
<h1>{{ section.title }}</h1>

{{ section.content | safe }}

{% for page in paginator.pages %}
{{ macros::page_summary(page=page) }}
{% endfor %}

<nav>
  <ul>
    {% if paginator.previous %}
    <li><a class="previous" href="{{ paginator.previous }}">&laquo; Newer</a></li>
    {% endif %}
  </ul>
  <ul>
    {% if paginator.next %}
    <li><a class="next" href="{{ paginator.next }}">Older &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock content %}
