{% extends "index.html" %}

{% block title %}{{ config.title }} | {{ section.title }}{% endblock title %}

{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}

{% block content %}
  <h1>{{ section.title }}</h1>

  {{ section.content | safe }}

  {% if section.pages %}
    {% set map_year_pages = section.pages | group_by(attribute="year") %}
    {% set_global years = [] %}

    {% for year, _ignore in map_year_pages %}
      {% set_global years = years | concat(with=year) %}
    {% endfor %}

    {% for year in years | sort | reverse %}
      <h2>{{ year }}</h2>

      <ul>
        {% set pages = map_year_pages[year] %}

        {% for page in pages | sort(attribute="date") | reverse %}
          <li>
            <a href="{{ page.path }}">{{ page.title }}</a>
            <span class="text-xs italic">({{ page.date | date(format="%-d %B %Y") }})</span>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endif %}
{% endblock content %}
