<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/rss.xml" />
    <link rel="stylesheet" href="/media/ext/basscss-custom.css">
    <link rel="stylesheet" href="/media/ext/font-awesome-4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/media/ext/syntax.css">
    <link rel="stylesheet" href="/media/css/global.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300|Roboto+Condensed:400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="bg-lighter-gray center border-bottom">
      <a href="/" class="button py1 h5 button-nav-light dark-gray">the negation of negation</a>
      <a href="/" class="button py1 h5 button-nav-light dark-gray"><i class="fa fa-book"></i> blog posts</a>
      <a href="/pages/work.html" class="button py1 h5 button-nav-light dark-gray"><i class="fa fa-tasks"></i> work & projects</a>
      <a href="/pages/about.html" class="button py1 h5 button-nav-light dark-gray"><i class="fa fa-info-circle"></i> about</a>
    </header>

    <article class="px2 container">
      {{ content }}
    </article>

    <footer class="p1 bg-lighter-gray mid-gray center border-top h6 center full-width">
      <div class="sm-show">
        Copyright &copy; 2012-2014 Vehbi Sinan Tunalioglu.
        <a name="license"></a> Verbatim copying and redistribution of this web
        site (in part or entirety) are permitted provided under the
        <a href="http://creativecommons.org/licenses/by-nd/3.0/">Creative
          Commons Noderivs license version 3.0</a> or later.
      </div>
      <div class="sm-hide">
        Copyright &copy; 2012-2014 Vehbi Sinan Tunalioglu.
      </div>
    </footer>

    <script src="/media/ext/jquery-2.1.1.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-28191408-1', 'thenegation.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
